* {
  box-sizing: border-box;
}

html {
  font-family: 'Oswald', sans-serif;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: #bf8415;
}

a:hover {
  color: #755213;
}

.mural {
  display: block;
  background-color: #0d0d0d;
  padding: 18px;
}
.mural-orange {
  background-color: #bf8415;
}
.mural-blue {
  background-color: #013a45;
}
.mural-yellow {
  background-color: #f2e088;
}
.text-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.text-small {
  font-size: 70%;
}
.text-hero {
  position: absolute;
  letter-spacing: 5px;
  color: #222222;
  font-size: 15em;
  text-transform: uppercase;
  line-height: 1em;
  opacity: .75;
}

.text-hero-list {
  font-family: 'PT Mono', Helvetica, sans-serif;
  letter-spacing: 5px;
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
  color: #f2e088;
  font-size: 14px;
  opacity: .5;
  line-height: 4.3em;
}

.text-hero-list-center {
  margin-left: 12em;
  opacity: .3;
  display: none;
}

.text-hero-list-right {
  margin-left: 6em;
  opacity: .2;
  display: none;
}

@media (min-width: 60rem) {
  .text-hero-list-center {
    display: inline-block;
  }
}

@media (min-width: 85rem) {
  .text-hero-list-center {
  }
  .text-hero-list-right {
    display: inline-block;
  }
}

/* Component Specific */
.row {
  width: 70%;
  margin: 0 auto;
}

.panel {
  padding: 20px;
  margin-bottom: 22px;
  background: #efefef;
}
