* {
  box-sizing: border-box;
}

html {
  font-size: calc(1em + 1vw);
  font-family: 'Oswald', sans-serif;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: #bf8415;
}

a:hover {
  color: #755213;
}

.mural {
  display: block;
  padding: 6em 0;
}
.mural-hero {
  background-color: #0d0d0d;
  padding: 1em 1.2em;
}
@media screen and (min-width: 50em) {
  .mural-hero {
    padding: 3em 6em;
  }
}
.mural-orange {
  background-color: #bf8415;
}
.mural-blue {
  background-color: #013a45;
}
.mural-yellow {
  background-color: #f2e088;
}
.text-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.text-container-hero {
  overflow: hidden;
  max-height: vh;
}
.text-small {
  font-size: 70%;
}
.text-hero {
  position: absolute;
  color: #222222;
  font-size: 5em;
  line-height: 1em;
  text-transform: uppercase;
  opacity: .75;
}
@media screen and (min-width: 50em) {
  .text-hero {
    font-size: 9.9em;
    letter-spacing: 0.02em;
  }
}

.text-hero-list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: middle;
}

.text-hero-list {
  font-family: 'PT Mono', Helvetica, sans-serif;
  letter-spacing: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  vertical-align: top;
  color: #f2e088;
  opacity: .5;
  line-height: 1.2em;
  font-size: 0.58em;
}

@media screen and (min-width: 50em) {
  .text-hero-list {
    letter-spacing: 0.3em;
    padding: 0.5em;
    line-height: 3.8em;
    font-size: 0.5em;
  }
}

.text-hero-list-center {
  opacity: .3;
}

.text-hero-list-right {
  opacity: .2;
}

/* Component Specific */
.row {
  width: 70%;
  margin: 0 auto;
}

.panel {
  padding: 20px;
  margin-bottom: 22px;
  background: #efefef;
}

.panel:last-of-type {
  margin-bottom: 0;
}
